html { overflow-y: scroll; }

body { 
	font: georgia, sans-serif;
	color: #555753; 
	}

nav.menu {
	margin-left:auto;
	margin-right:auto;
	width:1000px;
	padding:10px;
	background-color:#eee;
	border:1px dashed #999;
	}

section.inhoud{
	margin-left:auto;
	margin-right:auto;
	width:1000px;
	}


nav.menu ul{
    list-style-type: none;
}
